

/*Search Company
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: url(../images/homebg.jpg) no-repeat center center;
    height: 100%;
    padding-bottom: 60%;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
/*ol,
ul {
    list-style: none;
    padding: 0;
}*/

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #82ca9c;
}

h1,
h2,
h3 {

    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*
Section
*/
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.sections2 {
    padding-top:40px;
    padding-bottom:40px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 12px;
}


.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 2px;
    width: 80px;
    margin: auto;
    background: #ededed;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled{
    color: #ffffff;
    background-color:#64c583;
    border-color: #f56363;
}
.btn-primary:hover {
    background-color:#64c583;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    padding: 1em;
}

.btn-default {
    border-radius: 0px;
    background: #1f1f7a;
    color: white;
    border: 0;
    padding: 12px 15px;
    max-width:160px;
    margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #1f1f7a;
    background-color: rgba(31, 31, 122, 0.75);
    border-color:transparent;
}


.input-lg, .form-group-lg .form-control {
    height: 46px;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius:0;
}
.btn-lg, .btn-group-lg>.btn {
    font-size: 18px;
    line-height: 26px;
    border-radius:0;
    background: #82ca9c;
    border: 0;
    padding: 10px 25px;
}


.input-group{
    padding-bottom: 15em;
}

.input-group button a i{
    color:#fff;
}


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
input::-moz-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
input:-ms-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
textarea::-webkit-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;

}
textarea::-moz-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
textarea::-ms-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}


/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
   background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}*/

/*For Our Global CSS*/
.heading-content h1{
    font-size:48px;
    margin-bottom:40px;
}

/*For Menu Style*/
.navbar-default {
    /*background-color: transparent;*/
    border-color: transparent;
    border-radius:0;
    padding-top:20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #3a85ff;
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
}
.navbar-default .navbar-nav li a :hover{
    color: #3a85ff;
}
.navbar-default .collapse .login a{
    color: #1f1f7a;
    border: 1px solid #1f1f7a;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    display:inline-block;
    overflow:hidden;
}
.navbar-default .collapse .login:hover a{
    background-color: rgba(31, 31, 122, 0.75);
    color:white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #3a85ff;
    background-color: transparent;
}
.navbar-brand{
    margin-top:-5px;	
}


/*For Home Section*/
.home{
    /* background:url(../images/homebg.jpg) no-repeat center center; */
    color:#000;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.home-wrapper{
    padding:180px 0px;
    /* overflow:hidden; */
}
.home-content h1{
    font-size:48px;
    font-weight:700;
    margin-bottom: 30px;
    color: #fff;
}
.home-content p{
    margin-bottom: 30px;
    color: #fff;
}
.home-content .home-contact{
    margin-top: 10px;
}

.home-contact .input-group{display: block;}
.home-content .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 65%;
    margin-bottom: 0;
    height: 60px;
}
.home-content .home-contact input[type="text"]{
    color:#337ab7;
}
.home-content .home-contact input[type="submit"]{
    display:inline-block;
    width:35%;
    background:#337ab7;
    color:#fff;
    border: 0px;
}
.home-content .home-contact input[type="submit"]:hover{
    background:#337ab7;
}
.home-contact p{
    margin-top: 20px;
    color:#000;
    font-size:15px;
}
.form-control {
    border: 1px solid #337ab7;
    height:45px;
    border-radius: 0px;
    margin-right: -3px;
}
.head_title {
    margin-bottom: 40px;
}
.head_title p {
    max-width: 55%;
    margin: 10px auto;
    padding-bottom: 20px;
}



/*For Footer Section*/
.footer{

    color:black;
}
.footer-wrapper{
    padding:20px 0px;
    display:block;
}
.footer-brand{
    float:center;
}
.copyright{
    text-align:center;
}
.copyright p{
    font-size: 1.125rem;
    margin-bottom: 1px;
    padding: 20px 0px;
}



/*scollup icon*/

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 10;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}
.scrollup:hover {
    background: #9a9ae5;
    opacity: 1;
}
.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #1f1f7a;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}


