{% extends "dashboard_base.html" %}
{% block body_block1 %}
{% if not profile_form.instance.pk %}
<h3 class="title-3">Add New Employee</h3>
{% else %}
<h3 class="title-3">Edit Employee</h3>
{% endif %}
<div class="login-content">
    <div class="login-form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ emp_form.username.errors }}
                <label>{{emp_form.username.label_tag}}</label>
                {{ emp_form.username }}
            </div>
            <div class="form-group">
                {{ profile_form.emp_name.errors }}
                <label>{{profile_form.emp_name.label_tag}}</label>
                {{ profile_form.emp_name }}
            </div>
            <div class="form-group">
                {{ profile_form.location.errors }}
                <label>{{profile_form.location.label_tag}}</label>
                {{ profile_form.location }}
            </div>
            <div class="form-group">
                {{ profile_form.contact_no.errors }}
                <label>{{profile_form.contact_no.label_tag}}</label>
                {{ profile_form.contact_no }}
            </div>
            <div class="form-group">
                {{ profile_form.email.errors }}
                <label>{{profile_form.email.label_tag}}</label>
                {{ profile_form.email }}
            </div>
            <div class="form-group">
                {{ emp_form.password.errors }}
                <label>{{emp_form.password.label_tag}}</label>
                {{ emp_form.password }}
            </div>
            <div class="form-group">
                {{ profile_form.image.errors }}
                <label>{{profile_form.image.label_tag}}</label>
                {{ profile_form.image }}

            </div>
            <br>
            <input class="btn btn-success" type="submit" value="Save">

        </form>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thank you for registering.</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please login now.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}



{% block body_block2 %}
<li class="list-inline-item">Add Employee</li>
{% endblock %}

{% block body_block3 %}
<li>
    <a href="{% url 'AdminDashboard:dashboard' %}">
        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
    </li>


    <li class="active">
        <a  href="{% url 'AdminDashboard:add_employee' %}">
            <i class="fa fa-user-plus"></i>Add Employee
        </a>
    </li>

    <li>
        <a href="{% url 'AdminDashboard:all_employees' %}">
            <i class="fa fa-group"></i>All Employees</a>
        </li>
        <li>
            <a href="{% url 'AdminDashboard:assign_work' %}">
                <i class="fa fa-tasks"></i>Assign Work</a>
            </li>
            <li>
                <a href="{% url 'AdminDashboard:track_emp_list' %}">
                    <i class="fa fa-map-marker"></i>Track Employees</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Blogs
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li class="active">
                            <a href="{% url 'AdminDashboard:add_post' %}">
                                <i class="fas fa-user"></i>Add New Post</a>
                            </li>
                            <li>
                                <a href="{% url 'AdminDashboard:all_posts' %}">
                                    <i class="fas fa-sign-in-alt"></i>All Posts</a>
                                </li>
                            </ul>
                             <li>
                                  <a href="{% url 'AdminDashboard:feedback' %}">
                                    <i class="fa fa-pencil-square-o"></i>Feedback</a>
                                </li>
                        </li>
                        
                        {% endblock %}



