
{% extends "base.html" %}
{% block body_block %}
{% load staticfiles %}

    <section id="fh5co-about" data-section="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">About Us </h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Our weary eyes still stray to the horizon. Though down this road we've been so many times.</h3>
                        </div>
                    </div>
                </div>
            </div>
           
            <br><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="fh5co-person text-center to-animate">
                        <figure><img src="{% static "assets/images/about/img2.png" %}" alt="Image"></figure>
                        <h3>Yogesh Maheshwari</h3>
                        <span class="fh5co-position">Company Secretary</span><br><br><br>
                        <p class="contwvr">Yogesh Maheshwari did his Graduation in Commerce from University of Delhi and an Associate Member of Institute of Company Secretaries of India. He has 3 years of experience in matters related to company formation, Secretarial Audit, internal/statutory audit, tax and regulatory services, financial and business advisory, compliances under company law, registration of IPRs, liaison with various authorities for registrations, supervision and training of interns etc. He is also associated with reputed organizations as legal advisor.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-person text-center to-animate">
                        <figure><img src="{% static "assets/images/about/img.png" %}" alt="Image"></figure>
                        <h3>Rahul Malhotra</h3>
                        <span class="fh5co-position">Company Secretary</span><br><br><br>
                        <p class="contwvr">CS Rahul Malhotra did his graduation in commerce from University of Delhi and an associative member of an institution of Company Secretaries of India.He also holds Bachelor of Laws (LL.B.) from University of Delhi.He has a post qualification experience of 3 years and manages the company law  compliances of clients.He is actively engaged in multi-disciplinary practices including corporate secretarial and governance services,appearances before various tribunals and/or any other quasi-judicial body,Secretarial Audit,internal/statutory audit,tax and regulatory services,financial and business advisory.He is also associated with reputed organizations as legal advisor.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-person text-center to-animate">
                        <figure><img src="{% static "assets/images/about/img1.png" %}" alt="Image"></figure>
                        <h3>Akanksha Maheshwari</h3>
                        <span class="fh5co-position">Company Secretary</span><br><br><br>
                        <p class="contwvr">Akanksha Maheshwari did his Graduation in Commerce from University of Delhi and an Associate Member of Institute of Company Secretaries of India. She also holds Bachelor of Laws (LL.B.) from University of Delhi. She has a post qualification experience of 3 years in corporate laws including FDI, Securities Laws, Setting-up companies, Corporate Governance for listed entities, due diligence audits, Overall compliance monitoring etc. She also brings experience in the areas of legal due diligence, Secretarial Audit, rendering opinion on Companies Act and other Corporate Laws, processing various petitions/applications with NCLT/MCA.</p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}