{% extends "base.html" %}
{% block body_block %}

      
   <div class="container"  height="100%">
    <div class="jumbotron">
		<h2>COMPANY ACT,2013</h2>
		  <p>
		    <ul class="list-unstyled">
		       <li><h4>* Incorporation of companies (Private, Public, Section 8, NBFCs or any other kind).</h4></li>
               <li><h4>* Shifting of Registered Office of the Company.</h4></li>
           	   <li><h4>* Compounding of Offenses.</h4></li>
	           <li><h4>* Removal of auditor and/ or director.</h4></li>
	           <li><h4>* Condonation of delay.</h4></li>
	           <li><h4>* Secretarial Audit and/or Due Diligence.</h4></li>
	           <li><h4>* Fast Track Merger under Section 233 of the Companies Act, 2013.</h4></li>
         	   <li><h4>* Striking-off the companies under Fast Track Exit Scheme.</h4></li>
	           <li><h4>* Maintenance of Statutory Records and Annual Compliances under the Companies Act, 2013.</h4></li>
	           <li><h4>* Advisory on various issues relating to the Companies Act, 2013.</h4></li>
	           <li><h4>* Any other assignment.</li>
		    </ul>
		  </p>
      </div>
	</div>
  <br><br>
{% endblock %}		      