{% extends "base.html" %}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
		<h2>NATIONAL COMPANY LAW TRIBUNAL SERVICES</h2>
		  <p>
		    <ul>
		     <li><h4>* Change in Financial Year of the Company.</h4></li>
        	 <li><h4>* Conversion of Public Limited Company into Private Limited Company.</h4></li>
	         <li><h4>* Share Transfer/Registration Disputes under Section 58 and 59 of the Companies Act, 2013.</h4></li>
	         <li><h4>* Oppression and Mismanagement under Section 241 of the Companies Act, 2013.</h4></li>
	         <li><h4>* Merger/Amalgamation, Demerger or any other kind of restructuring.</h4></li>
	         <li><h4>* Winding-up of the companies.</h4></li>
	         <li><h4>* Appeal to NATIONAL COMPANY LAW APPELLATE TRIBUNALS.</h4></li>
 	         <li><h4>* Any other assignments.</h4></li>
		    </ul>
		  </p>
      </div><br><br><br><br><br><br><br>
	</div>
		        
{% endblock %}  	