{% extends "base.html" %}
{% block body_block %}

   <div class="container">
    <div class="jumbotron">
	  <h2>FOREIGN EXCHANGE MANAGEMENT ACT. 1999[FEMA]</h2>
		  <p>
		    <ul>
		     <li><h4>* Advance Reporting on Foreign Inward Remittance</h4></li>
	         <li><h4>* Filing of Form FC-GPR with the Reserve Bank of India.</h4></li>
	         <li><h4>* Filing of Foreign Liabilities and Assets Return.</h4></li>
      	     <li><h4>* Assistance in Foreign Collaboration and Joint Ventures.</h4></li>
	         <li><h4>* Other Compliances under FEMA.</li>
		    </ul>
		  </p>
      </div>
	</div><br><br><br><br><br><br><br><br><br><br><br><br>
		       
{% endblock %}  
	