{% extends "base.html" %}
{% block body_block %}

	<div class="container">
    <div class="jumbotron">
		<h2>LIMITED LIABILITY PARTNERSHIP ACT, 2008</h2>
		  <p>
		    <ul>
		     <li><h4>* Registration & other necessary compliances with respect to LLP.</h4></li>
	         <li><h4>* Drafting of LLP agreements.</h4></li>
	         <li><h4>* Conversion of Private/Public Company into Limited Liability Partnership.</h4></li>
	         <li><h4>* Conversion Partnership Firm into Limited Liability Partnership.</h4></li>
	         <li><h4>* Other Compliances.</h4></li>
		    </ul>
		  </p>
      </div><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
		        
{% endblock %}