{% extends "base.html" %}
{% block body_block %}

	<div class="container">
    <div class="jumbotron">
	    <h2>SEBI & SECURITIES LAWS</h2>
		  <p>
		    <ul>
		     <li><h4>* Listing of Securities of a Company with NSE, BSE and other Recognized Stock Exchanges</h4></li>
	         <li><h4>* SME listing</h4></li>
	         <li><h4>* Advisory Services for various Compliances to be made under Listing Agreement, LODR, etc.</h4></li>
	         <li><h4>* Corporate Governance Audit.</h4></li>
	         <li><h4>* Initial Public Offer or Public Issue.</h4></li>
	         <li><h4>* Any other assignment.</h4></li>
		    </ul>
		  </p>
      </div><br><br><br><br><br><br><br><br><br><br>
	</div>

{% endblock %}    