{% extends "base.html" %}
{% block body_block %}

	<div class="container">
    <div class="jumbotron">
	    <h2>OTHER SERVICES</h2>
		  <p>
		    <ul>
		     <li><h4>* Consolidation of Stamp duty on Issuance of Share Certificates.</h4></li>
			 <li><h4>* Obtaining of Licenses under Food Safety and Standard Act, 2006.</h4></li>
		     <li><h4>* Registration under Shop and Establishment laws.</h4></li>
		     <li><h4>* Registration of Multi-state Society, state base society, trust or Co-operative Society.</h4></li>
		     <li><h4>* Liaison with various departments.</h4></li>
		    </ul>
		  </p>
      </div><br><br><br><br><br><br><br><br><br><br><br><br>


	</div>

	
{% endblock %}